<?xml version="1.0" ?>
<robot name="reach_study" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <group name="manipulator">
        <chain base_link="base_link" tip_link="tcp" />
    </group>
    <group_state name="home" group="manipulator">
        <joint name="joint_b" value="0" />
        <joint name="joint_e" value="0" />
        <joint name="joint_l" value="0" />
        <joint name="joint_r" value="0" />
        <joint name="joint_s" value="0" />
        <joint name="joint_t" value="0" />
        <joint name="joint_u" value="0" />
    </group_state>
    <virtual_joint name="FixedBase" type="fixed" parent_frame="world" child_link="base_link" />
    <disable_collisions link1="base_link" link2="link_e" reason="Never" />
    <disable_collisions link1="base_link" link2="link_l" reason="Never" />
    <disable_collisions link1="base_link" link2="link_s" reason="Adjacent" />
    <disable_collisions link1="link_b" link2="link_e" reason="Never" />
    <disable_collisions link1="link_b" link2="link_l" reason="Never" />
    <disable_collisions link1="link_b" link2="link_r" reason="Adjacent" />
    <disable_collisions link1="link_b" link2="link_t" reason="Adjacent" />
    <disable_collisions link1="link_b" link2="link_u" reason="Never" />
    <disable_collisions link1="link_e" link2="link_l" reason="Adjacent" />
    <disable_collisions link1="link_e" link2="link_r" reason="Never" />
    <disable_collisions link1="link_e" link2="link_s" reason="Never" />
    <disable_collisions link1="link_e" link2="link_t" reason="Never" />
    <disable_collisions link1="link_e" link2="link_u" reason="Adjacent" />
    <disable_collisions link1="link_l" link2="link_r" reason="Never" />
    <disable_collisions link1="link_l" link2="link_s" reason="Adjacent" />
    <disable_collisions link1="link_l" link2="link_t" reason="Never" />
    <disable_collisions link1="link_l" link2="link_u" reason="Never" />
    <disable_collisions link1="link_r" link2="link_s" reason="Never" />
    <disable_collisions link1="link_r" link2="link_t" reason="Never" />
    <disable_collisions link1="link_r" link2="link_u" reason="Adjacent" />
    <disable_collisions link1="link_s" link2="link_u" reason="Never" />
    <disable_collisions link1="link_t" link2="link_u" reason="Never" />
</robot>
