<?xml version="1.0" ?>
<launch>
    <arg name="config_file" doc="YAML configuration file for the reach study"/>
    <arg name="config_name" default="reach_study" doc="Arbitrary configuration name for the reach study"/>
    <arg name="results_dir" default="" doc="Location in which reach study results will be saved"/>

    <node name="robot_reach_study_node" pkg="reach_ros" type="reach_ros_node" output="screen" required="true">
      <param name="config_file" value="$(arg config_file)"/>
      <param name="config_name" value="$(arg config_name)"/>
      <param name="results_dir" value="$(arg results_dir)"/>
    </node>
</launch>
