<?xml version="1.0" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="robot" default="robot"/>

    <param name="visualize_results" value="$(arg rviz)"/>
    <include file="$(find robot_reach_study)/launch/$(arg robot).launch"/>

    <node name="sample_mesh_server" pkg="robot_reach_study" type="sample_mesh_server" output="screen" required="true"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_reach_study)/config/reach_study_config.rviz" if="$(arg rviz)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
