robot_reach_study_node:
  ros__parameters:
    config_name: "demo_config"
    fixed_frame: "base_link"
    object_frame: "reach_object"
    results_package: "reach_demo"
    results_directory: "results"
    pcd_package: "reach_demo"
    pcd_filename_path: "config/part.pcd"
    get_avg_neighbor_count: false
    compare_dbs: [""]
    visualize_results: true
    planning_group: "manipulator"
    run_initial_study_only: true

    optimization:
      radius: 0.2
      max_steps: 10
      step_improvement_threshold: 0.01

    ik_solver_config:
      name: "moveit_reach_plugins/ik/CartesianRetrievalIKSolver"
#      name: "moveit_reach_plugins/ik/MoveItIKSolver"
      retrieval_distance: 0.2
      tool_frame: "tcp"
      max_eef_step: 0.005
      jump_threshold: 0.1 # cca 5 degrees
      distance_threshold: 0.0
      planning_group: "manipulator"
#      collision_mesh_package: "reach_demo"
      collision_mesh_package: "package://reach_demo/config/part.ply"
      collision_mesh_filename_path: "config/part.ply"
      collision_mesh_frame: "reach_object"
      touch_links: [""]
      evaluation_plugin:
        name: "reach_core/plugins/MultiplicativeFactory"
        plugins: ["moveit_reach_plugins/evaluation/ManipulabilityMoveIt", "moveit_reach_plugins/evaluation/DistancePenaltyMoveIt"]
        moveit_reach_plugins/evaluation/ManipulabilityMoveIt:
          planning_group: "manipulator"
        moveit_reach_plugins/evaluation/DistancePenaltyMoveIt:
          planning_group: "manipulator"
          distance_threshold: 0.025
          exponent: 2
#          collision_mesh_package: "reach_demo"
          collision_mesh_package: "package://reach_demo/config/part.ply"
          collision_mesh_filename_path: "config/part.ply"
          collision_mesh_frame: "reach_object"
          touch_links: [""]

    display_config:
      name: "moveit_reach_plugins/display/MoveItReachDisplay"
      planning_group: "manipulator"
#      collision_mesh_package: "reach_demo"
      collision_mesh_package: "package://reach_demo/config/part.ply"
      collision_mesh_filename_path: "config/part.ply"
      collision_mesh_frame: "reach_object"
      fixed_frame: "base_link"
      marker_scale: 0.05
